* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    background: #d19696;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 10rem;
    font-family: monospace;
    color: #fff;
    transition: all 1s linear;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    text-align: center;
    background: #0f0e0e;
}

header h2 {
    font-size: 4rem;
    font-family: cursive;
    color: #969696;
}


footer {
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
    text-align: center;
    background: #0f0e0e;
}

footer h2 {
    font-size: 4rem;
    font-family: cursive;
    color: #969696;
}